.slide-in {
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
}

.slide-in::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    display: block;
    margin-top: 0.4rem;
    left: 0;
    background: #dc2626;
    transition: width 0.5s ease;
}

.slide-in:hover::after {
    width: 100%;
    background: #dc2626;
}

#theme-toggle {
    visibility: hidden;
}

#theme-toggle + label {
    content: "";
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

#theme-toggle:checked + label {
    background: linear-gradient(120deg, gold, orange);
}

#theme-toggle:not(:checked) + label {
    background: transparent;
    box-shadow: inset -18px -16px 1px -5px rgb(0, 0, 0);
}

@media (max-width: 425px) {
    #theme-toggle:not(:checked) + label {
        background: transparent;
        box-shadow: inset -18px -16px 1px -10px rgb(0, 0, 0);
    }
    #theme-toggle:checked + label {
        background: linear-gradient(120deg, gold, orange);
    }
}
