#theme-toggle {
    visibility: hidden;
}

#theme-toggle + label {
    content: "";
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

#theme-toggle:checked + label {
    background: linear-gradient(120deg, gold, orange);
}

#theme-toggle:not(:checked) + label {
    background: transparent;
    box-shadow: inset -18px -16px 1px -5px #fff;
}

@media (max-width: 425px) {
    #theme-toggle:not(:checked) + label {
        box-shadow: inset -18px -16px 1px -10px #fff;
    }
}
